body {
    background-color: rgb(56, 0, 73);
    margin: 0px;
    padding: 0px;
    font-size: 150%;
    font-family: 'IBM Plex Sans', sans-serif;
}

.main-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 30px;
    padding: 20px;
    justify-content: center;
    border: solid 2px rgb(140, 0, 221);
}

h3 {
    text-transform: uppercase;
    margin: auto;
    padding: 10px;
    font-size: 100%;
}

h3 > a {
    text-decoration: none;
    color: rgb(140, 0, 221);
}

img {
    margin: 20px auto 20px auto;
    height: 150px;
    width: 150px;
}

h1 {
    color: rgb(140, 0, 221);
    text-transform: uppercase;
    font-size: 150%;
    margin: auto;
    padding: 10px;
}

ul {
    padding: 0px;
}

li {
    list-style-type: none;
    margin: 30px auto;
    padding: 0px;
    border: solid 2px rgb(140, 0, 221);
    border-radius: 5px;
    width: 300px;
    text-align: center;
}

li > a {
    text-decoration: none;
    display: block;
    padding: 10px;
    margin: 0px;
    color: rgb(140, 0, 221);
}

li > a:hover {
    background-color:rgb(140, 0, 221);
    color: black;
}


.test {
    background-color: #F5EFEF;
}
